.container {
  display: flex;
  margin: 0 auto;
  width: 1170px;
}

.blue {
  color: #0d6efd;
}

.Business {
  padding: 100px 0;
}

.Business h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.Business h2::after {
  content: '';
  display: block;
  margin: 15px auto;
  width: 30px;
  height: 3px;
  background-color: #0d6efd;
}

.Business>p {
  margin: 0 0 50px 0;
  font-weight: 300;
  text-align: center;
}

.Business .container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.Business figure {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.Business figure~figure {
  border-left: 1px solid transparent;
}

.Business .cover {
  position: absolute;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  transition: left 0.5s;
  padding: 40px 10px;
}

.Business figure:hover .cover {
  left: 0;
}

.Business figure .cover a {
  align-self: flex-start;
  margin-top: auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  flex-grow: 0;
}

.Business figure h3 {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 21px;
  font-weight: 500;
}

.Business figure p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.25;
}

.Business .inner>div {
  float: left;
  padding: 0 15px;
  width: 50%;
}

.Business .container {
  margin: 0 auto 100px auto;
}


.Business .title strong {
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  font-size: 30px;
  font-weight: 700;
}

.Business .title p {
  padding: 0 0 0 20px;
  font-size: 15px;
  font-weighT: 300;
}

.Business .title strong::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100px;
  background-color: #0d6efd;
}